{% extends "main_page/index.htm" %}

{% block content %}



<nav class="d-inline-block">
    <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="/teams/">Команды</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{team.name}}</li>
    </ol>
</nav>
{% if not user in team.users.all %}
<div class="d-inline-block float-right" id="request_btn">
    {% include "about_team_page/join_btn.htm" %}
</div>

{% elif user.username == team.admin %}

<div class="d-inline-block float-right">
    <button type="button" class="btn btn-light btn-sm float-right" id="redaction_btn"
        onclick="window.location = 'settings/'"><span class=" mr-2 fa fa-pen "
            style="font-size: 13px;"></span>Редактировать</button>

</div>
{% endif %}
<div class="dropdown-divider mt-2 mb-4"></div>

<div class="container p-4 blockBackground">

    <div id="team_name">
        <h4 class="aboutEventName mb-4">{{team.name}}</h4>
    </div>
    <div class="d-flex" style="flex-flow: row wrap; justify-content: space-between;">
        <div style="width: 48%;">
            <div class="mb-3">
                <h5 class="mb-1" style="font-size: 16px; font-weight:600">Цель</h5>
                <div style="font-size: 16px;" id="team_target">
                    <p>{{team.target}}</p>

                </div>
            </div>
            <div>
                <h5 class="mb-1" style="font-size: 16px; font-weight:600">Требуемые навыки</h5>
                <div class="d-inline-flex" style="flex-flow: row wrap;" id="team_tags">
                    {% for tag in team.required_skills.all %}
                    <div class="tag mr-2 px-1 mt-2" style="font-size: 16px;">{{tag}}</div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class=" p-0 float-right" style="width: 48%;">
            <!-- <div class="text-center mb-2" style="font-weight: 600; background-color: #1070d610; border-radius: 5px">
                            <span>Участники</span>
                        </div> -->
            <div>
                {% for u in team.users.all|slice:4 %}
                <div class="mb-1 ">
                    <div class="hoverBackground py-1 px-3" onclick="window.location='/user/{{u.username}}/'">
                        <div class="d-inline-block mr-2">
                            {% if u.image %}
                            <img class="profileImg" src="/media/{{u.image}}" width="30" height="30" alt="">
                            {% else %}
                            <div class="noUserImageSm">{{u.first_name.0}}</div>
                            {% endif %}
                        </div>
                        <div class="d-inline-block " style="vertical-align:middle">
                            <p class="m-0">{{u.first_name}} {{u.last_name}}

                            </p>

                        </div>
                        {% if u.username == team.admin %}
                        <div class="ml-2 float-right">
                            <span class="light-text" style="font-size: 14px;">admin<span>

                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="mt-2">
                    <button type="button" class="btn btn-light btn-sm " onclick="window.location='teammates/'"
                        style="width: 100%;">Все участники
                        ({{team.users.all|length}})</button>

                </div>

            </div>
        </div>

    </div>

</div>

<div class="mt-4">
    <div>
        <div class="d-inline-block">
            <h5 class="m-0" style="font-size: 1.4rem; font-weight: 600">Проекты <span class=""
                    style="color: #1070d6">{{team.projects.all|length}}</span></h5>
        </div>
        {% if team.admin == user.username %}
        <a class="d-inline-block float-right linkHover" style="font-size: 14px;" href="add/project/">Добавить</a>
        {% endif %}
    </div>
    <div class="mt-3">
        <div class="px-2 pt-2 blockBackground ">
            {% if team.projects.all|length == 0 %}
            {% if team.admin == user.username %}
            <div class="mx-auto text-center ">

                <div class="p-3" style="font-size: 16px;">
                    <span class="bgTextHover px-2 py-1" onclick="window.location='add/project/'">Добавить проект</span>
                </div>
            </div>
            {% else %}
            <div class=" mx-auto text-center ">
                <div class="p-3" style="font-size: 16px;">
                    <span class=" light-text ">Возможно проекты команды {{team.name}} являются закрытыми</span>
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class=" d-flex" style="flex-flow: row wrap; justify-content: space-between;" id="">
                {% for project in team.projects.all %}
                {% if not project.private  %}
                <div class="modal fade" id="modalProject{{project.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content p-2">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-weight: 600;">{{project.name}}</h5>
                            </div>
                            <div class="modal-body p-3">
                                <div>
                                    {{project.about}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mb-2" style="min-width: 49.75%;">
                    <div class="hoverBackground  py-2 px-3" data-toggle="modal"
                        data-target="#modalProject{{project.id}}">
                        <div>
                            <div class="d-inline-block">
                                <span class="m-0" style="font-weight:600; font-size: 16px">
                                    {{project.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                {% if user in team.users.all %}
                <div class="modal fade" id="modalProject{{project.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog  modal-lg" role="document">
                        <div class="modal-content p-2">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-weight: 600;">{{project.name}}</h5>
                            </div>
                            <div class="modal-body p-3">
                                <div>
                                    {{project.about}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mb-2" style="min-width: 49.75%;">
                    <div class="hoverBackground  py-2 px-3" data-toggle="modal"
                        data-target="#modalProject{{project.id}}">
                        <div>
                            <div class="d-inline-block">
                                <span class="m-0" style="font-weight:600; font-size: 16px">
                                    {{project.name}}
                                </span>
                            </div>

                            <div class="d-inline-block float-right">
                                <div class=" " style="font-size: 14px;">
                                    <span class=" fa fa-eye-slash" style="font-size: 14px; color: #c4c4c4;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}

                {% endfor %}
            </div>
        </div>

    </div>
</div>



{% endblock %}
