{% extends "main_page/index.htm" %}

{% block content %}


<div class=" ">
    <nav>
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="/teams/">Команды</a></li>
            <li class="breadcrumb-item"><a href="/teams/{{team.name_id}}/">{{team.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Добавить проект</li>
        </ol>
    </nav>
    <div class="dropdown-divider mt-2 mb-4">
    </div>

    <div class="">
        <div class="">

            <div style="max-width:100%">

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="blockBackground px-4 py-3">


                        <div class="d-flex ">
                            <div class="d-inline-block" style="width: 49%;">

                                {% block message %}
                                {% endblock %}
                                <div class="form-group mb-4 " style="">
                                    <label class="addPagesLabel">Название</label>
                                    <div class="">
                                        <input class="form-control" style="font-size: 14px;" name="new_project_name"
                                            type="text" placeholder="Название проекта" maxlength="50" required>
                                    </div>
                                </div>


                                <div class="form-group  mb-4 ">
                                    <label class="addPagesLabel">О проекте</label>
                                    <div class="">
                                        <textarea minlength="50" rows="5" class="form-control" name="new_project_about"
                                            placeholder="О проекте" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group  ">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="new_project_private"
                                            id="new_project_private" onclick="changeCheckbox()">
                                        <label class="custom-control-label" for="new_project_private">Закрытый проект
                                            (виден
                                            только команде)</label>
                                    </div>

                                </div>
                            </div>
                            <div class="d-inline-block text-center my-auto mx-auto" style="width:49%;">
                                <span class="">
                                    <span class="fa fa-folder-plus"
                                        style="font-size: 10rem; color:rgba(16, 112, 214, 0.09)"></span>
                                </span>
                            </div>

                        </div>
                        <div class="form-group mt-4 text-center">
                            <button type="submit" class="btn btn-primary">Добавить проект</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>

</div>

{% endblock content %}
