{% if not user in notice.from_user.all %}
<button type="button" class="btn btn-light btn-sm float-right" onclick='joinTeamReq("request")' id="to_fvrts_btn"><span
        class=" mr-2 fa fa-plus " style="font-size: 13px;"></span>Подать заявку</button>
{% else %}
<button type="button" class="btn btn-light btn-sm float-right" onclick='cancelJoinTeamReq("cancel")'
    id="out_fvrts_btn"><span class=" mr-2 fa fa-check " style="font-size: 13px;"></span>Заявка подана</button>
{% endif %}
