<div class="">
    <h5 style="font-size: 1.4rem; font-weight: 600">Уведомления <span class=""
            style="color: #1070d6">{{notices.all|length}}</span></h5>
</div>
<div class="container p-0 mt-4  ">


    {% if notices.all|length == 0 %}
    <div class="p-3 text-center">
        <span class="">
            <span class="fa fa-bell mb-3" style="font-size: 5rem; color:rgba(16, 112, 214, 0.09)"></span>
            <div class="mx-auto  light-text " style="font-size: 16px; ">
                <span>У вас пока нет новых уведомлений</span>
            </div>
        </span>
    </div>
    {% else %}
    {% for note in notices.all reversed %}
    <div class="mb-4">
        {% if note.type == 'reqToTeam' %}

        <div class="d-inline-block mr-3">
            {% if note.from_user.all.0.image %}
            <img class="profileImg" src="/media/{{note.from_user.all.0.image}}" width="40" height="40" alt="">
            {% else %}
            <div class="noUserImageMd">{{note.from_user.all.0.first_name.0}}</div>
            {% endif %}
        </div>
        <div class="d-inline-block " style="vertical-align:middle; max-width: 75%">
            <span>Пользователь <span class="username"
                    onclick="window.location='/user/{{note.from_user.all.0.username }}/'">@{{note.from_user.all.0.username }}
                </span> хочет вступить в команду <span class="username"
                    onclick="window.location='/teams/{{note.to_team.all.0.name_id }}/'">{{note.to_team.all.0.name }}
                </span></span>
        </div>

        <div class="d-inline-block float-right">
            <button type="button" class="btn btn-success btn-sm  mr-2"
                onclick="acceptJoinRequest('{{note.to_team.all.0.id}}', '{{note.from_user.all.0.id }}', 'accept')">
                <span class="nav-icon">
                    <span class="fa fa-thumbs-up" style="font-size: 15px;"></span>
                </span>
            </button>
            <button type="button" class="btn btn-danger btn-sm "
                onclick="acceptJoinRequest('{{note.to_team.all.0.id}}', '{{note.from_user.all.0.id }}', 'reject')">
                <span class="nav-icon">
                    <span class="fa fa-thumbs-down" style="font-size: 15px;"></span>
                </span>
            </button>
        </div>
        {% endif %}
    </div>

    {% endfor %}
    {% endif %}
</div>
