{% extends "main_page/index.htm" %}

{% block content %}

<div>
    <div class="blockBackground px-4 py-3" id="notices_block">

        {% include "notices_page/all_notices.htm" %}

    </div>
</div>

{% endblock content %}
