{% extends "main_page/add_event.htm" %}
{% block message %}
<div id="success_message" class="container p-2 mb-3 alert alert-success" style="font-size: 14px;">
    <script>
        setTimeout(function () {
            $('#success_message').remove();
        }, 5000)
    </script>
    {{success}}
</div>
{% endblock %}
