{% extends "main_page/index.htm" %}

{% block content %}


<div class=" ">
    <nav>
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="/user/{{user.username}}">Мой профиль</a></li>
            <li class="breadcrumb-item active" aria-current="page">Создание команды</li>
        </ol>
    </nav>
    <div class="dropdown-divider mt-2 mb-4">
    </div>

    <div class="">



        <!-- <nav>
                    <ol class=" breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="/{{user.username}}">Мой профиль</a></li>
            <li class="breadcrumb-item active" aria-current="page">Создание команды</li>
            </ol>
            </nav> -->
        <!-- <div class="dropdown-divider mt-2 mb-4"></div> -->
        {% if user.is_authenticated %}

        <div class="">

            <div style="max-width:100%">

                <form action="/add/team/" method="POST">
                    {% csrf_token %}
                    <div class="blockBackground px-4 py-3">
                        <div class="d-flex ">
                            <div class="d-inline-block" style="width: 49%;">
                                {% block message %}
                                {% endblock %}
                                <div class="form-group mb-4 " style="">
                                    <label class="addPagesLabel">Название</label>
                                    <div class="">
                                        <input class="form-control" style="font-size: 14px;" name="new_team_name"
                                            type="text" placeholder="Название команды" maxlength="50" required>
                                    </div>
                                </div>

                                <div class="form-group mb-4 " style="">
                                    <label class="addPagesLabel">ID команды</label>



                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">#</span>
                                        </div>
                                        <input type="text" class="form-control" name="new_team_id"
                                            placeholder="ID команды" pattern="[a-zA-Z0-9-]+" required>
                                    </div>
                                </div>
                                <div class="form-group  mb-4 ">
                                    <label class="addPagesLabel">Цель команды</label>
                                    <div class="">
                                        <select class="selectpicker w-auto" data-live-search="true"
                                            name="new_team_target" value="Выберите теги" required>
                                            <option value="Создание проекта">Создание проекта</option>
                                            <option value="Участие в мероприятиях">Участие в мероприятиях</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="addPagesLabel">Требуемые навыки</label>
                                    <div class="">
                                        <select class="selectpicker w-auto" style="font-size: 15px;"
                                            data-live-search="true" multiple name="new_team_skills"
                                            value="Выберите навыки" required>

                                            {% for tag in all_tags_team %}
                                            <option>{{tag.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="d-inline-block text-center my-auto mx-auto" style="width:49%;">
                                <span class="">
                                    <span class="fa fa-users"
                                        style="font-size: 10rem; color:rgba(16, 112, 214, 0.09)"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mt-4 text-center">
                            <button type="submit" class="btn btn-primary btn-sm">Создать
                                команду</button>
                        </div>
                </form>

            </div>
        </div>

    </div>

    {% else %}
    {% include 'main_page/non_auth_msg.htm' %}
    {% endif %}
</div>
</div>

{% endblock content %}
