{% extends "main_page/index.htm" %}

{% block content %}



<div class="">

    <div class="mb-3">
        <div class="text-center">
            <h5 class="font-w-600 " style="font-size: 18px">Создать мероприятие</h5>
        </div>
    </div>
    <div>

        {% if user.is_authenticated %}

        <div class="">
            <div style="">
                <form action="" method="POST" enctype="multipart/form-data" name="addEvent">
                    {% csrf_token %}
                    <div class="blockBackground px-4 py-3">
                        <div class="d-flex ">
                            <div class="d-inline-block" style="width: 49%;">
                                {% block message %}
                                {% endblock %}
                                <!-- <div class="form-group row mb-4">
                                    <label class="col-sm-2 col-form-label">Доступ</label>
                                    <div class=" col-sm-10">
                                        <select class="form-control" style="max-width: 150px" id="AccessSelect"
                                            name="new_event_access">
                                            <option value="open">Открытый</option>
                                            <option id="local" value="local">Локальный</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="form-group mb-4 ">
                                    <label class="addPagesLabel">Название</label>
                                    <div class="">
                                        <input class="form-control" style="font-size: 14px;" name="new_event_name"
                                            type="text" placeholder="Название мероприятия" maxlength="50" required>
                                    </div>
                                </div>
                                <div class="form-group  mb-4 ">
                                    <label class="addPagesLabel">Теги</label>
                                    <div class="">
                                        <select class="selectpicker w-auto" style="font-size: 15px;"
                                            data-live-search="true" multiple name="new_event_tag" value="Выберите теги"
                                            required>
                                            {% for tag in all_tags_event %}
                                            <option>{{tag.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mb-4 ">
                                    <label class="addPagesLabel">Краткое описание</label>
                                    <div class="">
                                        <textarea class="form-control" style="font-size: 14px;" rows="4"
                                            name="new_event_desc" maxlength="200" required></textarea>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="mb-1" style="font-weight: 600; font-size: 14px">Дата</label>
                                    <div class="d-flex" style="flex-flow: row wrap;">
                                        <span class="mr-3">c</span>
                                        <div class=" ">
                                            <div class="">
                                                <input type="date" class="form-control" name="new_event_dateS" required>
                                            </div>
                                        </div>
                                        <span class="mx-3">по</span>
                                        <div class=" ">
                                            <div>
                                                <input type="date" class="form-control" name="new_event_dateF" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group mb-4 ">
                                    <label class="addPagesLabel">Изображение</label>
                                    <div class="">
                                        <input class="non-form-control" style="font-size: 14px;" name="new_event_image"
                                            type="file" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="addPagesLabel">Ссылка</label>
                                    <div class="">
                                        <input class="form-control" style="font-size: 14px;" name="new_event_link"
                                            type="text" placeholder="Ссылка на сайт мероприятия" maxlength="150"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-inline-block text-center my-auto mx-auto" style="width:49%;">
                                <span class="">
                                    <span class="far fa-calendar"
                                        style="font-size: 10rem; color:rgba(16, 112, 214, 0.09)"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <button type="submit" class="btn btn-primary ">Создать мероприятие</button>
                    </div>
                </form>
            </div>

        </div>

        {% else %}
        {% include 'main_page/non_auth_msg.htm' %}
        {% endif %}
    </div>

</div>
{% endblock content %}
