{% extends "main_page/index.htm" %}

{% block content %}
{% if user.tags.all|length == 0 %}
<div>
    <div class="alert alert-primary" role="alert">
        <div class="d-inline-block">
            Выберите свои навыки, чтобы использовать <b>teammate</b> на 100%!
        </div>
        <div class="d-inline-block float-right">
            <form action="" method="post">
                {% csrf_token %}
                <div class="d-inline-block">
                    <select class="selectpicker" title="Выберите навыки" data-live-search="true" multiple
                        name="user_tags">
                        {% for tag in all_tags %}
                        <option value="{{tag.name}}">{{tag.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" aria-hidden="true" id="userFavsModal">
    <div class="modal-dialog-centered modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content px-3 py-1" style="height: 70vh; background-color:#fafbfc;">

            <!-- <div class="modal-header">
    
                </div> -->
            <div class="modal-body">
                {% include "main_page/blocks/favourites_block.htm" %}
            </div>
            <!-- <div class="modal-footer">
                </div> -->
        </div>
    </div>
</div>

<div class="modal fade" aria-hidden="true" id="userTeamsModal">
    <div class="modal-dialog-centered modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content px-3 py-1" style="height: 70vh;  background-color:#fafbfc;">

            <!-- <div class="modal-header">

            </div> -->
            <div class="modal-body">
                {% include "main_page/blocks/teams_block.htm" %}
            </div>
            <!-- <div class="modal-footer">
            </div> -->
        </div>
    </div>
</div>


<div>
    <div>
        {% block message %}
        {% endblock %}
    </div>
    <div class="p-3 blockBackground">
        <div class="float-right ">
            <button class="btn btn-light btn" type="button" onclick="window.location = '/settings/'">
                Редактировать
            </button>
        </div>
        <div class="mb-3" style="max-width: 85%;">
            <div class=" d-inline-flex " style="width: auto;">
                <div class="mr-4">
                    {% if user.image %}
                    <img src="/media/{{user.image}}" style="border-radius: 8px; object-fit: cover" alt="" width="75"
                        height="75">
                    {% else %}
                    <div class="noUserImageBig">{{user.first_name.0}}</div>
                    {% endif %}
                </div>
                <div class="my-auto">
                    <h5 class="mb-1 d-inline-block " style="font-size: 1.1rem; font-weight: 600">
                        {{user.first_name}}
                        {{user.last_name}}

                    </h5>
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <span class="m-0 d-inline-block" style="font-size: 0.95rem;">@{{user.username}}</span>

                    <div class="d-flex" style="flex-flow: row wrap;">
                        {% for tag in user.tags.all %}
                        <div class="tag mr-2 px-1 mt-2" style="font-size: 16px;">{{tag}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class=" d-flex">
                <div>
                    <span class="nav-icon">
                        <span class="fa fa-user  " style="font-size: 14px;"></span>
                    </span>
                    <span class="pr-2" style="font-size: 15px;">{{user.age}} y.o.</span>
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <span class="nav-icon">
                        <span class="fa fa-city  " style="font-size: 14px;"></span>
                    </span>
                    <span class="pr-2" style="font-size: 15px;">{{user.city}}</span>
                    {% if user.vk %}
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <div class="d-inline-block linkHover" onclick='window.open("https://vk.com/{{user.vk}}")'>
                        <span class="nav-icon">
                            <span class="fab fa-vk  " style="font-size: 16px; color: #4a76a8"></span>
                        </span>
                        <span class="pr-2" style="font-size: 15px;font-weight:600" data-toggle="tooltip"
                            data-placement="top" title="Перейти">{{user.vk}}</span>
                    </div>
                    {% endif %}
                    {% if user.tg %}
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <div class="d-inline-block linkHover" onclick='copyToClipboard("@{{user.tg}}")'>
                        <span class="nav-icon">
                            <span class="fab fa-telegram-plane " style="font-size: 16px; color: #0084c6"></span>
                        </span>
                        <span class="pr-2" style="font-size: 15px;font-weight:600" data-toggle="tooltip"
                            data-placement="top" title="Copy" id="user_tg_div">@{{user.tg}}</span>
                    </div>
                    {% endif %}
                    <!-- <span class="d-inline-block  mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span> -->
                </div>

            </div>
        </div>
    </div>
    <div class=" mt-4 ">
        <div>
            <div class="d-inline-block">
                <h5 class="m-0" style="font-size: 1.4rem; font-weight: 600">Команды <span class=""
                        style="color: #1070d6">{{user_teams.all|length}}</span></h5>
            </div>
            <span class="linkHover d-inline-block float-right cursor-pointer" style=""
                onclick="window.location='teams/'">Посмотреть все</span> <span class="d-inline-block float-right mx-2"
                style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
            <a class="d-inline-block float-right linkHover" style="" href="/add/team/">Создать</a>

        </div>
        {% if user_teams.all|length == 0 %}
        <div class="mt-3 p-3 light-text blockBackground">
            <div class="mx-auto text-center ">

                <div class="" style="font-size: 16px;">
                    <span class="bgTextHover px-2 py-1" onclick="window.location='/teams/'">Найти команду</span>
                    <span class="bgTextHover px-2 py-1" onclick="window.location='/add/team/'">Создать команду</span>

                </div>
            </div>
        </div>
        {% else %}
        <div class="mt-3 container px-2 pt-2 pb-0 blockBackground ">

            <div class=" d-flex" style="flex-flow: row wrap; justify-content: space-between;" id="">
                {% for team in user_teams.all|slice:6 reversed %}
                <div class=" mb-2" style="min-width: 49.75%;">
                    <div class="hoverBackground  py-2 px-3" onclick="window.location = '/teams/{{team.name_id}}/'">
                        <div class="d-inline-block">
                            <span class="m-0" style="font-weight:600; font-size: 16px">
                                {{team.name}}
                            </span>
                        </div>
                        <div class="d-inline-block float-right">
                            <div class=" " style="font-size: 14px;">
                                <span class=" far fa-user" style="font-size: 14px; color: #c4c4c4;"></span>
                                <span class="m-0" style="" style="">
                                    {{ team.users.all|length }}
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        {% endif %}
    </div>
</div>
<div class=" mt-4 ">
    <div>
        <div class="d-inline-block">
            <h5 class="m-0" style="font-size: 1.4rem; font-weight: 600">Избранное <span class=""
                    style="color: #1070d6">{{user.favourite_events.all|length}}</span></h5>
        </div>
        <span class=" linkHover d-inline-block float-right " style="" data-toggle="modal"
            data-target="#userFavsModal">Посмотреть
            все</span>
    </div>
    {% if user.favourite_events.all|length == 0 %}
    <div class="mt-3 p-3 light-text text-center blockBackground">
        <span class="bgTextHover px-2 py-1" onclick="window.location='/events/'">Мероприятия</span>

    </div>
    {% else %}
    <div class="mt-3 container p-0" style="">
        <div class="d-flex" style="flex-flow: row wrap; justify-content: space-between">
            {% for event in user.favourite_events.all|slice:4 %}

            <div class=" blockBackground mx-0 container p-0" style="width: 24%; margin-bottom: 1.5%">
                <a href="/events/about/{{event.id}}">
                    <div>
                        <img class="eventImage " src="/media/{{event.image}}" style="height: 100px;">
                    </div>
                    <div class="pb-3 pt-2 px-3">

                        <h5 class="mb-2 mt-1"
                            style="font-size: 15px; font-weight: 600;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
                            data-toggle="tooltip" title="{{event.name}}">
                            {{event.name}}
                        </h5>


                        {% include 'events_page/blocks/tags_tooltip.htm' %}

                    </div>
                </a>
            </div>

            {% endfor %}
            {% if user.favourite_events.all|length < 4 %}
            {% if user.favourite_events.all|length == 1 %}
            <div class="mx-0 container p-0" style="width: 24%">
            </div>
            <div class="mx-0 container p-0" style="width: 24%">
            </div>
            <div class="mx-0 container p-0" style="width: 24%">
            </div>
            {% elif user.favourite_events.all|length == 2 %}
            <div class="mx-0 container p-0" style="width: 24%">
            </div>
            <div class="mx-0 container p-0" style="width: 24%">
            </div>
            {% elif user.favourite_events.all|length == 3 %}
            <div class="mx-0 container p-0" style="width: 24%">
            </div>
            {% endif %}

            {% endif %}

        </div>
    </div>
    {% endif %}
</div>

</div>
{% endblock content %}
