{% extends "main_page/index.htm" %}

{% block content %}
<nav>
    <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="/user/{{user.username}}">Мой профиль</a></li>
        <li class="breadcrumb-item active" aria-current="page">Избранное</li>
    </ol>
</nav>
<div class="dropdown-divider mt-2 mb-4"></div>
<div class="container p-0">
    {% include "main_page/blocks/favourites_block.htm" %}
</div>
{% endblock %}
