<div>
    <nav class="navbar header-navbar navbar-expand-lg  fixed-top p-1" id="header">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto px-4" style="max-width: 1140px; justify-content: space-between;"
            id="navbarNavDropdown">
            <!-- <ul class="navbar-nav l-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <span class="logo m-0">
                            teammate
                        </span>
                    </a>

                </li>
            </ul> -->

            <ul class="navbar-nav l-0">
                <li class=" nav-item  mr-1">
                    <a class="nav-link logoHeader p-0 header-nav-link" href="/"><span
                            class=" mr-2 fa fa-code"></span><span
                            style="font-size: 17px; font-weight:700">teammate</span></a>
                </li>
                <!-- <li class="nav-item dropdown mr-1">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Найти</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown08">
                        <a class="dropdown-item" href="/search/team">Вступить в команду</a>
                        <a class="dropdown-item" href="/search/teammate">Найти тиммейта</a>
                    </div>
                </li> -->

                <!-- <li class="nav-item header-nav-item nav-link header-nav-link cursor-pointer" data-toggle="modal"
                    data-target="#addEventModal">
                    <span class=" mr-2 fa fa-plus"></span>Добавить
                    мероприятие
                </li> -->
            </ul>


            <ul class="navbar-nav r-0">

                {% if not user.is_authenticated %}
                <li class="nav-item header-nav-item cursor-pointer">
                    <a class="nav-link header-nav-link" href="/accounts/login/">Войти</a>
                </li>
                {% else %}


                <li class="nav-item header-nav-item">

                    <span class="dropdown nav-link header-nav-link " data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">{{user.first_name}}<span class=" ml-1 fa fa-angle-down"></span></span>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/user/{{user.username}}/">Профиль</a>
                        <a class="dropdown-item" href="/settings/">Настройки</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/accounts/logout">Выйти</a>
                    </div>
                </li>
                {% endif %}
                </li>
            </ul>

        </div>
    </nav>
</div>
