{% extends "main_page/index.htm" %}

{% block content %}


<div class="text-center container p-5">
    <div class="mb-4">
        <span class="">
            <span class="fa fa-user-secret" style="font-size: 10rem; color:rgba(16, 112, 214, 0.09)"></span>
        </span>
    </div>
    <div class="mx-auto" style="font-size: 22px; max-width: 75%">
        <a class="bgTextHover px-2 py-1 " href="/accounts/login/">Войдите</a><span class=" light-text ">,
            чтобы
            воспользоваться всеми
            функциями
            нашего веб-приложения</span>
    </div>
</div>

{% endblock content %}
