<div class=" container  m-auto p-0 l-0" style="width: 200px;">
    <nav>
        <div class="p-0 mb-1 " style="cursor: pointer;">

            <a href="/im/">
                <div class="sidebar-block py-2 px-1 {% if active_sidebar == 'profile' %} active-sidebar {% endif %} "
                    id="sidebarBtn1">
                    <span class="nav-icon">
                        <span class=" mr-1 fa fa-user  " style="font-size: 15px;"></span>
                    </span>
                    <span>Мой профиль</span>
                </div>
        </div>
        <div class="p-0   " style="cursor: pointer;">
            <a href="/notify/">
                <div
                    class="sidebar-block py-2 px-1 {% if request.path == '/notify/' %} active-sidebar {% endif %} {% if user.is_new_notice == True %} newNotifyBg {% endif %}">
                    <span class="nav-icon">
                        <span class=" mr-1 fa fa-bell  " style="font-size: 15px;"></span>
                    </span>
                    <span>Уведомления</span>

                </div>
            </a>
        </div>
        <!-- <div class="p-0 ">
            <div class="slidebar-blocks-name px-1 d-flex ">
                <span class="my-auto light-text">Команды</span>
                <i class=" add-icon ml-auto my-auto fa fa-plus p-2" data-toggle="modal" data-target="#addTeamModal"
                    onclick="window.location='/add/teams/'"></i>
            </div>

        </div> -->
        <div class="dropdown-divider my-3"></div>
        <div class="p-0 mb-1 " style="cursor: pointer;">
            <a href="/users/">
                <div class=" sidebar-block py-2 px-1 {% if active_sidebar == 'teammates' %} active-sidebar {% endif %}"
                    id="sidebarBtn2">
                    <span class="nav-icon">
                        <span class=" mr-1 fa fa-user-plus" style="font-size: 15px;"></span>
                    </span>
                    <span>Найти тиммейта</span>
                </div>
            </a>
        </div>

        <div class="p-0 mb-1 " style="cursor: pointer;">
            <a href="/teams/">
                <div class=" sidebar-block py-2 px-1 {% if active_sidebar == 'teams' %} active-sidebar {% endif %}"
                    id="sidebarBtn3">
                    <span class="nav-icon">
                        <span class=" mr-1 fa fa-users" style="font-size: 15px;"></span>
                    </span>
                    <span>Вступить в команду</span>
                </div>
            </a>
        </div>

        <div class="p-0 mb-1 " style="cursor: pointer;">
            <a href="/events/">
                <div class=" sidebar-block py-2 px-1  {% if active_sidebar == 'events' %}active-sidebar {% endif %}"
                    id="sidebarBtn4">
                    <span class="nav-icon">
                        <span class=" mr-1 far fa-calendar" style="font-size: 15px;"></span>
                    </span>
                    <span>Мероприятия</span>
                </div>
            </a>
        </div>
        <div class="dropdown-divider my-3"></div>
        <div class="p-0 mb-1 " style="cursor: pointer;">
            <div class=" sidebar-block py-2 px-1  {% if request.path == '/add/event/'   %} active-sidebar {% endif %}"
                data-toggle="modal" data-target="#addEventModal" onclick="window.location='/add/event/'">
                <span class="nav-icon">
                    <span class=" mr-1 fa fa-plus" style="font-size: 15px;"></span>
                </span>
                <span>Создать мероприятие</span>
            </div>
        </div>
        <div class="dropdown-divider my-3"></div>
        <div class="p-0 mb-1 " style="cursor: pointer;">
            <a href="https://forms.gle/SbmymMXCdv25qw4H8" target="_blank">
                <div class=" sidebar-block py-2 px-1" id="sidebarBtn2">
                    <span class="nav-icon">
                        <span class=" mr-1 fa fa-star" style="font-size: 15px;"></span>
                    </span>
                    <span>Оставить фидбэк</span>
                </div>
            </a>
        </div>
    </nav>
    <script>
        let url = window.location.pathname
    </script>
</div>
