<div class="" id="eventsFiltered">
    <script>
        $('[data-toggle="tooltip"').tooltip();
    </script>
    {% if events|length == 0 %}
    <div class="p-3 blockBackground">
        <div class="text-center py-3" style="font-size: 16px;">
            <span class="far fa-calendar mb-3" style="font-size: 4rem; color:rgba(16, 112, 214, 0.09)"></span>
            <div>
                <span class=" light-text ">По данному запросу ничего не найдено</span>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row m-0" style="justify-content: space-between;">

        {% for event in events %}

        <div class=" blockBackground  mb-3" style="width:48.5%; height: 250px">

            <div style="height: 100%;">
                <!-- <div class="eventsPrewie" style="background-image: url(/media/{{event.image}});"></div> -->
                <div class="cursor-pointer" onclick="window.location='/events/about/{{event.id}}'">
                    <img class="eventImage" src="/media/{{event.image}}">
                </div>
                <div class="p-2 px-3 ">
                    <h5 class="mb-2 cursor-pointer linkHover"
                        style="font-size: 18px; font-weight: 600; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis"
                        onclick="window.location = '/events/about/{{event.id}}'">
                        {{event.name}}
                    </h5>
                    <div class="mb-1" style="font-weight:500; ">
                        {% if event.date_start|date:"m" == event.date_finish|date:"m" %}
                        <span class="mb-0 " style="">{{event.date_start|date:"d"}}–{{event.date_finish|date:"d"}}
                            {{event.date_finish|date:"E"}}</span>
                        {% else %}
                        <span class="mb-0" style="">{{event.date_start|date:"d"}}
                            {{event.date_start|date:"E"}} – {{event.date_finish|date:"d"}}
                            {{event.date_finish|date:"E"}}</span>
                        {% endif %}

                    </div>

                    <div>
                        <!-- data-toggle="tooltip"
                        data-html="true" data-placement="top"
                        title="{% for tag in event.tags.all %}<div class='tag  mb-1 px-1' style='font-size: 16px;'>{{tag}}</div>{% endfor %}" -->
                        <div class="d-flex " style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis">
                            {% for tag in event.tags.all %}
                            <div class="tag mr-2 px-1 mt-2" style="">{{tag}}</div>
                            {% endfor %}
                        </div>
                    </div>


                </div>

            </div>

        </div>

        {% endfor %}


    </div>
    {% endif %}
</div>
