{% extends "main_page/index.htm" %}

{% block content %}

<div class="container p-0">
    <!-- <h5 class="mb-4" style="font-weight: 600; font-size: 19px">Мероприятия</h5> -->
    <div style="width:250px; margin-left: calc(100% - 250px)">
        <div class="position-fixed " style="width:250px;">
            {% include 'events_page/filter.htm' %}
        </div>
    </div>
    <div class="pr-3 contentWidth">
        {% include 'events_page/all_events.htm' %}
    </div>
</div>


{% endblock %}
