<div class="container p-4 blockBackground">

    <!-- <div class="mr-3">
        <div>
            <label class="mb-1" style="font-weight: 600; font-size: 14px">Теги</label>
        </div>
        <select class="form-control selectpicker w-auto" style="border: 2px solid #000" onchange=""
            data-live-search="true" multiple id="skillsFilter">
            {% for tag in all_tags %}
            <option value="{{tag.name}}">{{tag.name}}</option>
            {% endfor %}
        </select>
        <script type="text/javascript">
            $('.selectpicker').selectpicker();
        </script>
    </div>


    <div class="">

        <label class="mr-3" style="font-weight: 600; font-size: 14px">Мои навыки</label>

        <input type="checkbox" id="findByUserSkills" style="scale: 1.4;" onclick="findByUserSkills('eventsFiltered')">

    </div> -->
    <!-- <div class="form-group row">
            <div class="col-sm-10">
                <div>
                    <label class="mb-1" style="font-weight: 600; font-size: 14px">Город</label>
                </div>
                <input type="text" class="form-control" id="selectCity" name="selectCity">
            </div>
        </div> -->
    <div class="form-group ">
        <div class="">
            <div>
                <label class="mb-1" style="font-weight: 600; font-size: 14px">Тип мероприятия</label>
            </div>
            <select class="form-control selectpicker" id="selectType" name="selectType">
                <option value="Все">Все</option>
                <option value="Хакатон">Хакатон</option>
                <option value="Турнир">Турнир</option>
                <option value="Соревнование">Соревнование</option>
            </select>
        </div>
    </div>
    <div class="form-group ">
        <div class="">
            <div>
                <label class="mb-1" style="font-weight: 600; font-size: 14px">Теги</label>
            </div>
            <select class="form-control selectpicker" style="border: 2px solid #000" title="Ничего не выбрано..."
                data-live-search="true" multiple id="skillsFilter" name="skillsFilter">
                {% for tag in all_tags %}
                <option value="{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group ">
        <div class="">
            <div>
                <label class="mb-1" style="font-weight: 600; font-size: 14px">Дата начала</label>
            </div>
            <input type="date" class="form-control" id="selectDateFirst" name="selectDateFirst">
        </div>
    </div>
    <div class="form-group ">
        <div class="">
            <div>
                <label class="mb-1" style="font-weight: 600; font-size: 14px">По</label>
            </div>
            <input type="date" class="form-control" id="selectDateSecond" name="selectDateSecond">
        </div>
    </div>
    <div class="form-group {% if not user.is_authenticated %} d-none {% endif %}">
        <div class="">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="matchMySkills" name="matchMySkills"
                    onchange="findByUserSkills('eventsFilter')">
                <label class="custom-control-label" for="matchMySkills">Соответсвует моим навыкам</label>
            </div>
        </div>
    </div>
    <!-- <div class="form-group row">
            <div class="col-sm-10">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="regOpen" name="regOpen">
                    <label class="custom-control-label" for="regOpen">Регистрация открыта</label>
                </div>
            </div>
        </div> -->
    <div class="form-group m-0">
        <div class="">
            <button type="submit" class="btn btn-primary btn-sm w100" onclick="filterEvents()">Найти</button>
        </div>
    </div>


</div>
