{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block content %}

<div class="container ">

  <div style="max-width: 350px;">

    <h1 class="text-center">{% trans "Вход" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}

    <p class="text-center">{% blocktrans %}Если у вас еще нет аккаунта, для начала
      <a href="{{ signup_url }}" style="color: #1070d6">создайте его</a>{% endblocktrans %}</p>
    {% endif %}
    <div class="form-group">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="errorText">{{ form.errors }}</div>
        <div>

          <div class="form-group">
            <label>{{ form.login.label}}</label>
            {{ form.login }}
            <script>
              document.getElementById('id_login').classList.add('form-control')
            </script>
          </div>

          <div class="form-group">


            <label style="text-align: left !important">{{ form.password.label}}</label>

            {{form.password }}
            <script>
              document.getElementById('id_password').classList.add('form-control')
            </script>
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-left">
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
        </div>
        <div class="text-center">
          <button class="primaryAction btn btn-primary px-4 mt-4" type="submit">{% trans "Войти" %}</button>
        </div>
      </form>
    </div>
  </div>


</div>

{% endblock %}
