{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1 class="text-center mb-3">{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p class="mb-3">
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>
<div class="mb-4">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-group mb-4">
            {{ form.as_p }}
            <script>
                document.getElementById('id_email').classList.add('form-control')
            </script>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">{% trans 'Reset My Password' %}</button>
        </div>
    </form>
</div>
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
