{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center">
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
</form>
{% endblock %}
