{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}


<style>
  #settingsData input,
  #usernamefield input {
    width: 100%;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

</style>
<div class="container ">
  <div class="" style="max-width: 350px ">

    <h1 class="text-center">{% trans "Регистрация" %}</h1>

    <p class="text-center">{% blocktrans %}Уже есть аккаунт? <a href="{{ login_url }}"
        style="color: #1070d6">Войти</a>.{% endblocktrans %}</p>
    <div class="form-group">

      <form id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="personalData">
          {% load socialaccount %}
          {% get_providers as socialaccount_providers %}

          {% for provider in socialaccount_providers %}
          {% if provider.id == "openid" %}
          {% for brand in provider.get_brands %}
          <a title="{{brand.name}}" class="{{provider.id}} {{brand.id}}"
            href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>
          {% endfor %}
          {% endif %}
          <a title="{{provider.name}}" class="{{provider.id}}"
            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
          {% endfor %} <div>
            <div class="mb-3 text-center">
              Шаг <span style="color: #1070d6; font-weight: 600"> 1/3</span>
            </div>
          </div>
          <div class="errorText">{{ form.errors }}</div>
          <div class="d-none errorText  my-3 mx-auto" id="nameRegexError">
            В полях имени и фамилии допускаются только буквы
          </div>
          <div class="form-group">
            <label>{{ form.first_name.label}} <span style="color: red">*</span></label>
            <div>{{ form.first_name }}</div>
          </div>
          <div class="form-group">
            <label>{{ form.last_name.label}} <span style="color: red">*</span></label>
            <div class="fieldWrapper">{{form.last_name}}</div>
          </div>
          <div class="form-group">
            <label>Дата рождения <span style="color: red">*</span></label>

            <div> {{ form.birth_date }}</div>

          </div>

          <!-- <div class="">
            <label>Город <span style="color: red">*</span></label>

            <div> {{ form.city }}</div>

          </div> -->
          <div class="text-center">
            <button type="button" class="btn btn-primary px-4 mt-3 " id="1" onclick="nextSignUp(id)">{% trans "Далее" %}
            </button>
          </div>
        </div>
        <div id="contactData" class="d-none">
          <div>
            <div class=" text-center">
              Шаг <span style="color: #1070d6; font-weight: 600"> 2/3</span>
            </div>
          </div>
          <div class="d-none errorText  my-3 mx-auto" id="nullSocial">
            Введите ID вашего аккаунта как минимум в одном мессенжере!
          </div>
          <div class="d-none errorText  my-3 mx-auto" id="smallSocial">
            Слишком короткий ID аккаунта в мессенджере!
          </div>
          <div class="d-none errorText  my-3 mx-auto" id="incorrectUsername">
            В имени пользователя допустимы только латинские буквы и цифры!
          </div>
          <div class="errorText">{{ form.errors }}</div>

          <div class="form-group mb-4" id="usernamefield">
            <label>{{ form.username.label}} <span style="color: red">*</span></label>
            <div class="fieldWrapper ">{{form.username}}</div>

          </div>
          <script>
            document.getElementById("id_username").pattern = "^[a-zA-Z0-9]+$"
          </script>
          <label>{{ form.tg.label}}</label>
          <div class=" mb-3">
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              {{form.tg}}
            </div>
          </div>
          <div class="form-group">
            <label>{{ form.vk.label}} </label>
            <div class="fieldWrapper ">{{form.vk}}</div>
          </div>
          <div class="container p-0 d-flex mt-4">
            <div class="mx-auto ">
              <button type="button" class="btn btn-light px-4 mr-3" id="5" onclick="nextSignUp(id)">{% trans "Назад" %}
              </button>
              <button type="button" class="btn btn-primary px-4  " id="2" onclick="nextSignUp(id)">{% trans "Далее" %}
              </button>
            </div>
          </div>
        </div>

        <div id="settingsData" class="d-none">
          <div>
            <div class="mb-3 text-center">
              Шаг <span style="color: #1070d6; font-weight: 600"> 3/3</span>
            </div>
          </div>
          <div class="errorText">{{ form.errors }}</div>

          <div class="form-group">
            <label>Email <span style="color: red">*</span></label>
            <div>{{ form.email }}</div>

          </div>
          <div class="form-group">
            <label>{{ form.password1.label}} <span style="color: red">*</span></label>
            <div>{{ form.password1 }}</div>

          </div>
          <div class="form-group">
            <label>{{ form.password2.label}} <span style="color: red">*</span></label>
            <div>{{ form.password2 }}</div>
          </div>
          <div class="container p-0 d-flex mt-4">
            <div class="mx-auto ">
              <button type="button" class="btn btn-light px-4 mr-3" id="3" onclick="nextSignUp(id)">{% trans "Назад" %}
              </button>

              <button type="submit" class="btn btn-primary px-4  ">{% trans "Готово" %} </button>
            </div>
          </div>
        </div>

        {% comment %} {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %} {% endcomment %}

      </form>
    </div>
  </div>
</div>
{% endblock %}
