{% if not event in user.favourite_events.all %}
<button type="button" class="btn btn-light btn-sm float-right" onclick="addEventToFavourites('add')"
    id="to_fvrts_btn"><span class=" mr-2 far fa-bookmark " style="font-size: 15px;"></span>Избранное</button>
{% else %}
<button type="button" class="btn btn-light btn-sm float-right" onclick="addEventToFavourites('remove')"
    id="out_fvrts_btn"><span class=" mr-2 fa fa-bookmark " style="font-size: 15px;"></span>Избранное</button>
{% endif %}
