<div class="d-flex " style="justify-content: space-between;">
    <div class="blockBackground py-2 px-3" style="width: 49.5%;">
        <div>
            <h5 class="mb-2 d-inline-block" style=" font-weight: 600">Люди</h5>
            {% if event.possible_users.all|length > 0 %}
            <span class="float-right d-inline-block linkHover" onclick="window.location='wishes/users/'">Посмотреть
                все ({{event.possible_users.all|length}})</span>
            {% endif %}
        </div>
        {% if event.possible_users.all|length > 0 %}
        {% for u in event.possible_users.all|slice:3 %}
        <div class="">
            <div class="hoverBackground py-2 px-3" onclick="window.location='/user/{{u.username}}/'">
                <div class="d-inline-block mr-2">
                    {% if u.image %}
                    <img class="profileImg" src="/media/{{u.image}}" width="30" height="30" alt="">
                    {% else %}
                    <div class="noUserImageSm">{{u.first_name.0}}</div>
                    {% endif %}
                </div>
                <div class="d-inline-block " style="vertical-align:middle">
                    <p class="m-0 linkHover" style="font-weight: 600; font-size:18px">@{{u.username}}
                    </p>
                </div>
                <div class="d-flex" style="white-space: nowrap; overflow: hidden;">
                    {% for tag in u.tags.all %}
                    <div class="tag mr-2 px-1 mt-2" style="font-size: 15px;">{{tag}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center py-3" style="font-size: 16px;">
            <span class="fa fa-user mb-3" style="font-size: 4rem; color:rgba(16, 112, 214, 0.09)"></span>
            <div>
                <span class=" light-text ">Вы будете первым</span>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="blockBackground py-2 px-3" style="width: 49.5%;">
        <div>
            <h5 class="mb-2 d-inline-block" style=" font-weight: 600">Команды</h5>
            {% if event.possible_teams.all|length > 0 %}
            <span class="float-right d-inline-block linkHover" onclick="window.location='wishes/teams/'">Посмотреть
                все ({{event.possible_teams.all|length}})</span>
            {% endif %}
        </div>
        {% if event.possible_teams.all|length > 0 %}
        {% for t in event.possible_teams.all|slice:3 %}
        <div class="">
            <div class="hoverBackground py-2 px-3" onclick="window.location='/teams/{{t.name_id}}/'">
                <div>
                    <div class="d-inline-block ">
                        <p class="mb-0 mr-2" style="font-weight: 600; font-size:18px">{{t.name}}
                        </p>
                    </div>
                    <div class="d-inline-block light-text">
                        <p class="m-0">{{t.target}}
                        </p>
                    </div>
                </div>
                <div class="d-flex mt-2" style="white-space: nowrap; overflow: hidden;">
                    {% for tag in t.required_skills.all %}
                    <div class="tag mr-2 px-1 " style="font-size: 15px;">{{tag}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center py-3" style="font-size: 16px;">
            <span class="fa fa-users mb-3" style="font-size: 4.2rem; color:rgba(16, 112, 214, 0.09)"></span>
            <div>
                <span class=" light-text ">Ваша команда будет первой</span>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="text-center mt-4">
    <!-- onclick="wantTakePart('yes')" -->
    {% if  flag %}
    <div>
    </div>
    <button type="button" class="btn btn-light" data-html="true" data-toggle="popover" data-placement="top"
        title="<b>Выберите себя или команду</b>" data-content='
            {% if user.is_authenticated %}
            <b>Вы</b>
            <div class=" mb-2">
                <div class="hoverBackground  py-2 px-3"  id="popoverBtn">
                    <div class="d-inline-block mr-2">
                        {% if user.image %}
                        <img class="profileImg" src="/media/{{user.image}}" width="20" height="20" alt="">
                        {% else %}
                        <div class="noUserImageSm">{{user.first_name.0}}</div>
                        {% endif %}
                    </div>
                    <div class="d-inline-block">
                        <span class="m-0" style="font-weight:00; font-size: 16px">
                            @{{user.username}}
                        </span>
                    </div>
                </div>
            </div>
            <b>Команды</b>
            <div class="scrollPartPopover">
                {% for team in user_teams.all|slice:6 reversed %}
                <div class=" mb-1">
                    <div class="hoverBackground popoverBtnTeam py-2 px-3" id="{{team.id}}">
                        <div class="d-inline-block">
                            <span class="m-0" style="font-weight:600; font-size: 16px">
                                {{team.name}}
                            </span>
                        </div>
                        <div class="d-inline-block float-right">
                            <div class=" " style="font-size: 14px;">
                                <span class=" far fa-user" style="font-size: 14px; color: #c4c4c4;"></span>
                                <span class="m-0" style="" style="">
                                    {{ team.users.all|length }}
                                </span>
                            </div>
                        </div>
                
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="mx-auto" style="font-size: 15px;">
                <a class="bgTextHover px-2 py-1 " href="/accounts/login/">Войдите</a><span class=" light-text ">,
                    чтобы
                    воспользоваться всеми
                    функциями
                    нашего веб-приложения</span>
            </div>
            {% endif %}
        ' id="choosePopover">Хочу
        участвовать</span></button>
    {% else %}
    <button type=" button" class="btn btn-light" onclick="wantTakePart('no')">
        Отменить участие</button>
    {% endif %}
</div>
<script>
    $("#choosePopover").popover({
        animation: false
    });
    $('#choosePopover').on('shown.bs.popover', function () {
        let btnsTeam = document.getElementsByClassName("popoverBtnTeam");
        for (let i = 0; i < btnsTeam.length; i++) {
            btnsTeam[i].onclick = function () { wantTakePart('yes', 'team', btnsTeam[i].id) };
        }
        let btn = document.getElementById("popoverBtn")
        btn.onclick = function () { wantTakePart('yes') };
    });
</script>
