{% load account %}{% user_display user as user_display %}{% load i18n %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
<script src='{% static "js/script.js" %}'></script>

<table data-mobile="true" dir="ltr" data-width="600" style="font-size: 16px; background-color: rgb(255, 255, 255);"
    width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
        <tr>
            <td style="margin:0;padding:5px 0 40px;" class="responsive-cell" valign="top" align="center">
                <table class="wrapper" style="width: 600px;" width="600" cellspacing="0" cellpadding="0" border="0"
                    align="center">
                    <tbody>

                        <tr>
                            <td style="margin: 0; padding: 0;" class="responsive-cell" valign="top" align="center">
                                <table data-editable="text" class="text-block" width="100%" cellspacing="0"
                                    cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td class=""
                                                style="margin: 0px; padding: 23px 35px 20px; background-color: rgb(255, 255, 255); font-size: 16px; font-family: 'Times New Roman', Times, serif; line-height: 1.35;"
                                                valign="top">
                                                <span class="text-center"
                                                    style="text-align:center; font-family: Tahoma, sans-serif; color: #000000; font-size: 36px; font-weight: 700; ">
                                                    Команда <a href="http://teammatedev.herokuapp.com">teammate</a>
                                                    приветствует вас!
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="margin: 0; padding: 0;" class="responsive-cell" valign="top" align="center">
                                <table data-editable="image" data-mobile-stretch="0" style="max-width: 541px;"
                                    cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="display: inline-block; padding: 0px; margin: 0px;"
                                                class="tdBlock responsive-cell" valign="top" align="center"><img
                                                    src="https://app.getresponse.com/images/common/templates/messages/1741/1/img/1741_02.png?img1582490867111"
                                                    alt=""
                                                    data-origsrc="https://app.getresponse.com/images/common/templates/messages/1741/1/img/1741_02.png"
                                                    data-src="https://app.getresponse.com/images/common/templates/messages/1741/1/img/1741_02.png|541|343|541|343|0|0|1"
                                                    class="mobile-image-stretch-disabled"
                                                    style="border-width: 0px; border-style: none; border-color: transparent; font-size: 12px; display: block;"
                                                    width="541" height="343" border="0"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding:0;margin:0;" class="responsive-cell" valign="top" bgcolor="#ffffff"
                                align="left">
                                <table data-editable="text" class="text-block" width="100%" cellspacing="0"
                                    cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td class="lh-5"
                                                style="padding: 0px 40px 35px 35px; margin: 0px;  font-size: 18px; "
                                                valign="top" align="left">
                                                <span style="font-size:18px">
                                                    Вы получили это письмо, потому что пользователь
                                                    <b>@{{ user_display }}</b>
                                                    указал ваш адрес электронной почты для подключения к
                                                    своей учетной записи.
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="responsive-cell" valign="top" bgcolor="#ffffff" align="center">
                                <div data-box="button"
                                    style="width: 100%; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                                    <table data-editable="button" style="margin: 0px auto;" cellspacing="0"
                                        cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td class="tdBlock"
                                                    style="display: inline-block; padding: 16px 71px; border-radius: 0px; background-color: rgb(0, 0, 0);"
                                                    valign="top" align="center"><a href="{{ activate_url }}"
                                                        style="font-family: Tahoma, sans-serif; color: #ffffff; font-size: 14px; text-decoration:none; font-weight: 700;">
                                                        Подтвердить
                                                    </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
