<div class="mt-3 container p-0" style="">
    <div class="d-flex" style="flex-flow: row wrap;">
        {% for event in user.favourite_events.all %}

        <div class=" blockBackground mx-2 mb-2 container p-0" style="width: 24%; margin-bottom: 1.5%">
            <a href="/events/about/{{event.id}}">
                <div>
                    <img class="eventImage " src="/media/{{event.image}}" style="height: 100px;">
                </div>
                <div class="pb-3 pt-2 px-3">

                    <h5 class="my-1 "
                        style="font-size: 15px; font-weight: 600;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
                        data-toggle="tooltip" title="{{event.name}}">
                        {{event.name}}
                    </h5>


                    <div class="tag allTagsHover px-1 mt-2 cursor-pointer d-inline-block" data-toggle="tooltip"
                        data-html="true"
                        title="{% for tag in event.tags.all %}<div style='color: #1070d6;'>{{tag}}</div>{% endfor %}"
                        style="font-size: 13px; font-weight: 600">Все
                        теги
                    </div>

                </div>
            </a>
        </div>

        {% endfor %}
        {% if favourites.all|length < 4 %}
        {% if favourites.all|length == 1 %}
        <div class="mx-0 container p-0" style="width: 24%">
        </div>
        <div class="mx-0 container p-0" style="width: 24%">
        </div>
        <div class="mx-0 container p-0" style="width: 24%">
        </div>
        {% elif favourites.all|length == 2 %}
        <div class="mx-0 container p-0" style="width: 24%">
        </div>
        <div class="mx-0 container p-0" style="width: 24%">
        </div>
        {% elif favourites.all|length == 3 %}
        <div class="mx-0 container p-0" style="width: 24%">
        </div>
        {% endif %}

        {% endif %}


    </div>
</div>
