<div class=" d-flex" style="flex-flow: row wrap; justify-content: space-between;" id="teamsFiltered">
    {% for team in about_user_teams.all reversed %}
    <div class=" mb-2" style="min-width: 49.75%;">
        <div class="hoverBackground  py-2 px-3" onclick="window.location = '/teams/{{team.name_id}}/'">
            <div class="d-inline-block">
                <span class="m-0" style="font-weight:600; font-size: 16px">
                    {{team.name}}
                </span>
            </div>
            <div class="d-inline-block float-right">
                <div class=" " style="font-size: 14px;">
                    <span class=" far fa-user" style="font-size: 14px; color: #c4c4c4;"></span>
                    <span class="m-0" style="" style="">
                        {{ team.users.all|length }}
                    </span>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
