{% extends "main_page/index.htm" %}

{% block content %}


<div class=" ">
    <nav>
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="/teams/">Команды</a></li>
            <li class="breadcrumb-item"><a href="/teams/{{team.name_id}}/">{{team.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
        </ol>
    </nav>
    <div class="dropdown-divider mt-2 mb-4">
    </div>

    <div class="">



        <!-- <nav>
                    <ol class=" breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="/user/{{user.username}}">Мой профиль</a></li>
            <li class="breadcrumb-item active" aria-current="page">Создание команды</li>
            </ol>
            </nav> -->
        <!-- <div class="dropdown-divider mt-2 mb-4"></div> -->


        <div class="">

            <div style="max-width:100%">

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="blockBackground px-4 py-3">
                        {% block message %}
                        {% endblock %}
                        <div class="form-group mb-4 " style="">
                            <label class="addPagesLabel">Название</label>
                            <div class="">
                                <input class="form-control" style="font-size: 14px;" name="team_name" type="text"
                                    value="{{team.name}}" maxlength="50" required>
                            </div>
                        </div>

                        <div class="form-group mb-4 " style="">
                            <label class="addPagesLabel">ID команды</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">#</span>
                                </div>
                                <input type="text" class="form-control" name="team_id" value="{{team.name_id}}"
                                    pattern="[a-zA-Z0-9-]+" required>
                            </div>
                        </div>
                        <div class="form-group  mb-4 ">
                            <label class="addPagesLabel">Цель команды</label>
                            <div class="">
                                <select class="selectpicker w-auto" id="selectTarget" data-live-search="true"
                                    name="team_target" required>
                                    <option value="Создание проекта">Создание проекта</option>
                                    <option value="Участие в мероприятиях">Участие в мероприятиях
                                    </option>
                                </select>
                                <script>
                                    $('#selectTarget').selectpicker('val', '{{team.target}}')
                                    $('#selectTarget').selectpicker('refresh');
                                </script>
                            </div>
                        </div>
                        <div class="form-group  ">
                            <label class="addPagesLabel">Требуемые навыки</label>
                            <div class="">
                                <select class="selectpicker w-auto" style="font-size: 15px;" data-live-search="true"
                                    multiple name="team_tags" value="Выберите навыки" id="selectTags" required>

                                    {% for tag in all_tags %}
                                    <option>{{tag.name}}</option>
                                    {% endfor %}
                                </select>
                                <script>

                                    $('#selectTags').selectpicker()
                                    $('#selectTags').selectpicker('val', {{ team_tags | safe }})

                                </script>
                            </div>
                        </div>

                    </div>
                    <div class="form-group mt-4 text-center">
                        <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

{% endblock content %}
