<div>
    <span class="cursor-pointer tag allTagsHover px-1 mt-2 " data-toggle="tooltip" data-html="true"
        data-placement="right"
        title="{% for tag in event.tags.all %}<div class='tag  mb-1 px-1' style='font-size: 16px;'>{{tag}}</div>{% endfor %}"
        style="font-size: 15px; font-weight: 600">Все теги
    </span>
</div>
