{% extends "account_settings/settings_block.htm" %}
{% block message %}

<div id="success_message" class="container p-2 mb-3 alert alert-success" style="font-size: 14px;">
    <script>
        setTimeout(function () {
            $('#success_message').remove();
        }, 4000)
    </script>
    {{success}}
</div>
{% endblock %}
