{% extends "main_page/index.htm" %}

{% block content %}
{% if user.is_authenticated %}

<div class="container p-0" style="max-width: 900px;">
    <nav>
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="/user/{{user.username}}">Мой профиль</a></li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
        </ol>
    </nav>
    <div class="dropdown-divider mt-2 mb-4">
    </div>

    {% block message %}
    {% endblock %}

    <form action="" method="POST" onkeypress="return event.keyCode != 13;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="p-4 blockBackground">
            <div class="pb-3 m-auto">
                <div class="d-flex" style="flex-flow: row wrap; justify-content: space-between;">
                    <div class="col-md-7 p-0 ">
                        <div class=" mb-3">
                            <label class="addPagesLabel" style="font-weight: 600;">Имя</label>
                            <input type="text" class="form-control" value="{{user.first_name}}" name="user_name"
                                pattern="^[a-zа-яA-ZА-ЯЁё]+$" required>
                        </div>
                        <div class=" mb-3">
                            <label class="addPagesLabel" style="font-weight: 600;">Фамилия</label>
                            <input type="text" class="form-control" value="{{user.last_name}}" name="user_lastname"
                                pattern="^[a-zа-яA-ZА-ЯЁё]+$" required>
                        </div>
                        <div class=" mb-3">

                            <label for="validationServerUsername" class="addPagesLabel" style="font-weight: 600;">Имя
                                пользователя</label>
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="text" class="form-control " value="{{user.username}}" name="user_username"
                                    pattern="^[a-zA-Z0-9]+$" autocomplete="off" required
                                    oninvalid="this.setCustomValidity('Допустимы латинские буквы и цифры')"
                                    oninput="setCustomValidity('')">

                            </div>

                            {% block error %}
                            {% endblock %}

                        </div>

                    </div>
                    <div class=" p-0 float-right" style="width: auto;">
                        <label class="addPagesLabel" style="font-weight: 600;">Фото</label>
                        <div class="d-block">
                            <div>
                                {% if user.image %}
                                <img src="/media/{{user.image}}" class="mb-3"
                                    style="border-radius: 5px; object-fit: cover" width="200" height="auto" alt="">
                                {% else %}
                                <div>Нет картинки
                                </div>
                                {% endif %}
                            </div>
                            <input class="non-form-control" style="max-width: 200px;" name="user_image" type="file"
                                placeholder="">

                        </div>

                    </div>


                </div>
                <div class="mt-5">

                    <div class="form-group  ">
                        <label class="addPagesLabel">Навыки</label>
                        <div class="">
                            <select class="selectpicker w-auto" style="" data-live-search="true" multiple
                                name="user_tags" value="Выберите навыки" id="selectTags" required>

                                {% for tag in all_tags %}
                                <option>{{tag.name}}</option>
                                {% endfor %}
                            </select>
                            <script>

                                $('#selectTags').selectpicker()
                                $('#selectTags').selectpicker('val', {{ user_tags | safe }})
                            </script>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="addPagesLabel">Контакты</label>
                        <div class="d-flex mt-" style="flex-flow: row wrap;">
                            <div class="mr-3">
                                <label class="">ВКонтакте</label>
                                <input class="form-control" name="user_vk" type="text" minlength="5"
                                    pattern="^[\.\_a-zA-Z0-9]+$" value="{{user.vk}}">
                            </div>
                            <div>
                                <label class="">Telegram</label>
                                <div class="input-group " style="width: unset;">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input class="form-control" name="user_tg" pattern="^[\.\_a-zA-Z0-9]+$"
                                        minlength="5" type="text" value="{{user.tg}}">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="addPagesLabel">Ваша цель</label>
                        <div class="">
                            <select class="selectpicker w-auto" style="" name="user_target" value="Выберите цель"
                                id="selectTarget">
                                <option value="Выберите цель">Выберите цель</option>
                                <option {% if user.target == "Создание проекта" %} selected {% endif %}
                                    value="Создание проекта">Создание проекта</option>
                                <option {% if user.target == "Участие в мероприятиях" %} selected {% endif %}
                                    value="Участие в мероприятиях">Участие в мероприятиях</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center mx-auto mt-3">
                <button class="btn btn-primary " type="submit">
                    Сохранить
                </button>
            </div>

        </div>
    </form>
    <!-- <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    {{user_query.birth_date}}
                                    <label style="font-weight: 500;">Дата рождения</label>
                                    <input type="date" value="{{user_query.birth_date}}" name="user_db"
                                        class="form-control">
                                </div>
                            </div> -->
    <div class="mt-4">
        <h5>Контакты</h5>
        <hr class="mt-2 mb-4">

        <div class="blockBackground p-4">
            <div class=" mb-3">
                <label style="font-weight: 600;">E-mail</label>
                <input type="email" class="form-control" placeholder="e-mail" value="{{user.email}}" readonly>
            </div>
            <button class="btn btn-light" style="font-size: 14px;" type="submit"
                onclick="window.location = '/accounts/email/'">
                Изменить или добавить эл. почту
            </button>
        </div>
    </div>


</div>
{% else %}
{% include 'main_page/non_auth_msg.htm' %}
{% endif %}

{% endblock %}
