{% extends "main_page/index.htm" %}

{% block content %}

<div class="modal fade" aria-hidden="true" id="userTeamsModal">
    <div class="modal-dialog-centered modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content px-3 py-1" style="height: 70vh;  background-color:#fafbfc;">

            <!-- <div class="modal-header">

            </div> -->
            <div class="modal-body">
                {% include "main_page/blocks/teams_block.htm" %}
            </div>
            <!-- <div class="modal-footer">
            </div> -->
        </div>
    </div>
</div>


<div>

    <div>
        {% block message %}
        {% endblock %}
    </div>
    <div class="p-3 blockBackground">
        <div class="mb-3" style="max-width: 85%;">
            <div class=" d-inline-flex " style="width: auto;">
                <div class="mr-4">
                    {% if about_user.image %}
                    <img src="/media/{{about_user.image}}" style="border-radius: 8px; object-fit: cover" alt=""
                        width="75" height="75">
                    {% else %}
                    <div class="noUserImageBig">{{about_user.first_name.0}}</div>
                    {% endif %}
                </div>
                <div class="my-auto">
                    <h5 class="mb-1 d-inline-block " style="font-size: 1.1rem; font-weight: 600">
                        {{about_user.first_name}}
                        {{about_user.last_name}}

                    </h5>
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <span class="m-0 d-inline-block" style="font-size: 0.95rem;">@{{about_user.username}}</span>

                    <div class="d-flex" style="flex-flow: row wrap;">
                        {% for tag in about_user.tags.all %}
                        <div class="tag mr-2 px-1 mt-2" style="font-size: 16px;">{{tag}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class=" d-flex">
                <div>
                    <span class="nav-icon">
                        <span class="fa fa-user  " style="font-size: 13px;"></span>
                    </span>
                    <span class="pr-2" style="font-size: 15px;">{{about_user.age}} y.o.</span>
                    {% if about_user.city %}
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <span class="nav-icon">
                        <span class="fa fa-city  " style="font-size: 13px;"></span>
                    </span>
                    <span class="pr-2" style="font-size: 15px;">{{about_user.city}}</span>
                    {% endif %}
                    {% if about_user.vk %}
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <div class="d-inline-block linkHover" onclick='window.open("https://vk.com/{{about_user.vk}}")'>
                        <span class="nav-icon">
                            <span class="fab fa-vk  " style="font-size: 16px; color: #4a76a8"></span>
                        </span>
                        <span class="pr-2" style="font-size: 15px;font-weight:600" data-toggle="tooltip"
                            data-placement="top" title="Перейти">{{about_user.vk}}</span>
                    </div>
                    {% endif %}
                    {% if about_user.tg %}
                    <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                    <div class="d-inline-block linkHover" onclick='copyToClipboard("@{{about_user.tg}}")'>
                        <span class="nav-icon">
                            <span class="fab fa-telegram-plane " style="font-size: 16px; color: #0084c6"></span>
                        </span>
                        <span class="pr-2" style="font-size: 15px;font-weight:600" data-toggle="tooltip"
                            data-placement="top" title="Copy" id="user_tg_div">@{{about_user.tg}}</span>
                    </div>
                    {% endif %}
                    <!-- <span class="d-inline-block  mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span> -->
                </div>

            </div>
        </div>
    </div>
    <div class=" mt-4 ">
        <div>
            <div class="d-inline-block">
                <h5 class="m-0" style="font-size: 1.4rem; font-weight: 600">Команды <span class=""
                        style="color: #1070d6">{{about_user_teams.all|length}}</span></h5>
            </div>
            <span class="linkHover d-inline-block float-right cursor-pointer" style="font-size: 14px;"
                onclick="window.location='teams/'">Посмотреть все</span>


        </div>
        {% if about_user_teams.all|length == 0 %}
        <div class="mt-3 p-3 light-text text-center blockBackground">
            Нет команд
        </div>
        {% else %}
        <div class="mt-3 container px-2 pt-2 pb-0 blockBackground ">

            <div class=" d-flex" style="flex-flow: row wrap; justify-content: space-between;" id="">
                {% for team in about_user_teams.all|slice:6 reversed %}
                <div class=" mb-2" style="min-width: 49.75%;">
                    <div class="hoverBackground  py-2 px-3" onclick="window.location = '/teams/{{team.name_id}}/'">
                        <div class="d-inline-block">
                            <span class="m-0" style="font-weight:600; font-size: 16px">
                                {{team.name}}
                            </span>
                        </div>
                        <div class="d-inline-block float-right">
                            <div class=" " style="font-size: 14px;">
                                <span class=" far fa-user" style="font-size: 14px; color: #c4c4c4;"></span>
                                <span class="m-0" style="" style="">
                                    {{ team.users.all|length }}
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
