<div class=" " id="usersFiltered">
    <div class="container">
        {% if all_users|length == 0 %}
        <div class="text-center py-3" style="font-size: 16px;">
            <span class="fa fa-user mb-3" style="font-size: 4rem; color:rgba(16, 112, 214, 0.09)"></span>
            <div>
                <span class=" light-text ">По данному запросу ничего не найдено</span>
            </div>
        </div>
        {% else %}
        {% for u in all_users %}

        <div class="">
            <div class="">
                <div class=" d-inline-flex " style="width: auto;">
                    <div class="mr-4 cursor-pointer" onclick="window.location = '/user/{{u.username}}/'">
                        {% if u.image %}
                        <img src="/media/{{u.image}}" style="border-radius: 8px; object-fit: cover" alt="" width="75"
                            height="75">
                        {% else %}
                        <div class="noUserImageBig">{{u.first_name.0}}</div>
                        {% endif %}
                    </div>
                    <div class="my-auto">
                        <a href="/user/{{u.username}}/" class="mb-1 d-inline-block "
                            style="font-size: 17px; font-weight: 600">
                            {{u.first_name}}
                            {{u.last_name}}

                        </a>
                        <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                        <a href="/user/{{u.username}}/" class="m-0 d-inline-block" style="font-size: 0.95rem;"
                            onclick="window.location = '/user/{{u.username}}/'">@{{u.username}}</a>

                        <div class="d-flex" style="flex-flow: row wrap;">
                            {% for tag in u.tags.all %}
                            <div class="tag mr-2 px-1 mt-2" style="font-size: 16px;">{{tag}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div>
                <div class=" d-flex">
                    <div>
                        <span class="nav-icon">
                            <span class="fa fa-user  " style="font-size: 13px;"></span>
                        </span>
                        <span class="pr-2" style="font-size: 15px;">{{u.age}} y.o.</span>
                        <span class="d-inline-block mx-2" style="font-size: 14px; color:rgb(224, 224, 224)">|</span>
                        <span class="nav-icon">
                            <span class="fa fa-city  " style="font-size: 13px;"></span>
                        </span>
                        <span class="pr-2" style="font-size: 15px;">{{u.city}}</span>
                    </div>

                </div>
            </div> -->
        </div>
        {% if u != all_users.last %}
        <div class="dropdown-divider my-3"></div>
        {% endif %}

        {% endfor %}
        {% endif %}
    </div>
