<div class=" " id="teamsFiltered">
    <div class="container" style="">
        {% if all_teams|length == 0 %}
        <div class="text-center py-3" style="font-size: 16px;">
            <span class="fa fa-users mb-3" style="font-size: 4rem; color:rgba(16, 112, 214, 0.09)"></span>
            <div>
                <span class=" light-text ">По данному запросу ничего не найдено</span>
            </div>
        </div>
        {% else %}
        {% for team in all_teams %}

        <div class="" style="width: 100%; height: 100%">
            <div class="text-center">
                <h4 class="d-inline-block aboutEventName mb-3 mr-3" style="font-size: 18px;">{{team.name}}</h4>
                <div class="d-inline-block">
                    <div class=" " style="font-size: 14px;">
                        <span class=" far fa-user" style="font-size: 14px; color: #c4c4c4;"></span>
                        <span class="m-0" style="" style="">
                            {{ team.users.all|length }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-flex">

                <div class=" d-inline-block mb-3" style="width: 50%;">
                    <h5 class="mb-1" style="font-size: 15px; font-weight:600">Цель</h5>
                    <div style="font-size: 15px;">
                        <p class="m-0">{{team.target}}</p>

                    </div>
                </div>

                <div>
                    <h5 class="mb-1" style="font-size: 15px; font-weight:600">Требуемые навыки</h5>
                    <div class="d-inline-flex" style="flex-flow: row wrap;">
                        {% for tag in team.required_skills.all|slice:5 %}
                        <div class="tag px-1 mt-2 mr-2" style="font-size: 15px;">{{tag}}</div>
                        {% endfor %}
                        {% if team.required_skills.all|length > 5 %}
                        <div class="tag allTagsHover px-1 mt-2 cursor-pointer " data-toggle="tooltip" data-html="true"
                            title="{% for tag in team.required_skills.all %}<div style='color: #1070d6;'>{{tag}}</div>{% endfor %}"
                            style="font-size: 13px; font-weight: 600">Все
                            теги
                        </div>
                        {% endif %}
                    </div>
                </div>



            </div>
            <div class="container m-0 p-0">
                <!-- <div class="text-center mb-2" style="font-weight: 600; background-color: #1070d610; border-radius: 5px">
                                    <span>Участники</span>
                                </div> -->

                <div class="mt-3 " style="">

                    <button type="button" class="btn btn-light btn-sm "
                        onclick="window.location='/teams/{{team.name_id}}'" style="width: 100%;">Подробнее</button>

                </div>
            </div>

        </div>
        {% if team != all_teams.last %}
        <div class="dropdown-divider my-4"></div>
        {% endif %}


        {% endfor %}
        {% endif %}

    </div>
</div>
