<div class="p-3 blockBackground float-right" style="width: 100%">
    <!-- <div class="form-group">
          <div class="">
              <div>
                  <label class="mb-1" style="font-weight: 600; font-size: 14px">Город</label>
              </div>
              <input type="text" class="form-control" id="selectCity" name="selectCity">
          </div>
    </div> -->
    <div class="mb-2">
        <div class="">
            <div>
                <label class="mb-1" style="font-weight: 600; font-size: 14px">Навыки</label>
            </div>
            <select class="form-control selectpicker" data-live-search="true" multiple title="Ничего не выбрано..."
                name="new_event_tag" id="skillsFilter">
                {% for tag in all_skills %}
                <option value="{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="mb-3">
        <div class="">
            <div>
                <label class="mb-1" style="font-weight: 600; font-size: 14px">Цель</label>
            </div>
            <select class="form-control selectpicker" name="selectTarget" id="selectTarget">
                <option selected>Выберите цель</option>
                <option value="Участие в мероприятиях">Участие в мероприятиях</option>
                <option value="Создание проекта">Создание проекта</option>
            </select>
        </div>
    </div>

    <!-- <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="regOpen" name="regOpen">
                                <label class="custom-control-label" for="regOpen">Регистрация открыта</label>
                            </div>
                        </div>
                    </div> -->
    <div class="form-group m-0">
        <div class="">
            <button type="submit" class="btn btn-primary  w100" onclick="filterTeams()">Найти</button>
        </div>
    </div>
</div>
