{% extends "main_page/index.htm" %}

{% block content %}

<div class="container p-0">

    <!-- <h5 class="mb-4" style="font-weight: 600; font-size: 19px">Найти тиммейта</h5> -->

    <div style="width:250px; margin-left: calc(100% - 250px)">
        <div class="position-fixed " style="width:250px;">
            {% include 'search_page/teams/filter.htm' %}
        </div>
    </div>

    <div class="contentWidth   pr-3">
        <div class="p-3 blockBackground">
            <div class="mb-4 d-flex">
                <input class="form-control mr-3" type="text" id="searchTeams" placeholder="Название или ID команды"
                    oninput="filterTeams()">
                <div class="d-flex" data-toggle="tooltip" title="По числу участников">
                    <div onclick="filterTeams('down')">
                        <span class="my-auto fa fa-sort-amount-down hoverBackground p-2"
                            style="font-size: 20px;"></span>
                    </div>
                    <div onclick="filterTeams('up')">
                        <span class="my-auto fa fa-sort-amount-up hoverBackground p-2" style="font-size: 20px;"></span>
                    </div>
                </div>
            </div>

            {% include 'search_page/teams/all_teams.htm' %}
        </div>
    </div>
</div>

{% endblock %}
