{% extends "main_page/index.htm" %}

{% block content %}
<nav class="d-inline-block">
    <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="/events/">Мероприятия</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{event.name}}</li>
    </ol>
</nav>
<div class="d-inline-block float-right" id="fav_btn">
    {% include "about_event_page/blocks/favourites_btn.htm" %}
</div>
<div class="dropdown-divider mt-2 mb-4"></div>
<div class="container p-0">


    <h4 class="aboutEventName mb-4">{{event.name}}</h4>
    <div class="d-flex" style="flex-flow: row wrap;">
        <div class="mr-auto" style="max-width: 50%;">
            <div class="mb-3">
                <h5 style="font-size: 16px; font-weight: 600">Дата</h5>
                <div class="ml-3" style="font-size:17px">
                    {% if event.date_start|date:"m" == event.date_finish|date:"m" %}
                    <span class="mb-0 " style="">{{event.date_start|date:"d"}}–{{event.date_finish|date:"d"}}
                        {{event.date_finish|date:"E"}}</span>
                    {% else %}
                    <span class="mb-0" style="">{{event.date_start|date:"d"}}
                        {{event.date_start|date:"E"}} – {{event.date_finish|date:"d"}}
                        {{event.date_finish|date:"E"}}</span>
                    {% endif %}

                </div>
            </div>
            <div class="mb-3">
                <h5 style="font-size: 16px; font-weight: 600">Анонс</h5>
                <span class="ml-3" style="word-wrap: break-word; font-size:16px">{{event.description}}</span>
            </div>
            <div class="">
                <h5 style="font-size: 16px; font-weight: 600">Теги</h5>
                <div class="d-flex ml-3" style="flex-flow: row wrap;">
                    {% for tag in event.tags.all %}
                    <div class="aboutEventTag mr-2 mb-2 tag px-2" style="font-size: 16px;">{{tag}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="float-right">
            <img class="eventImageBlock" src="/media/{{event.image}}" alt="">
        </div>

    </div>
    <div class=" mt-4">
        <h5 style="font-size: 16px; font-weight: 600">Перейти на сайт</h5>
        <div class="ml-3">
            <span class="bgTextHover" onclick="window.open('{{event.link}}')">{{event.link}}</span>
        </div>
    </div>
    <div class="dropdown-divider my-4"></div>
    <div class=" ">
        <h4 class="text-center mb-4" style=" font-weight: 600">Хотели бы принять участие</h4>
        <div id="wantBlock">
            <div>
                {% include "about_event_page/blocks/want_take_part_btn.htm" %}
            </div>
        </div>
    </div>
    {% if similar_events %}
    <div class="dropdown-divider my-4"></div>

    <div class="">
        <div class="">
            <h5 style="text-align: center; font-weight: 600">Подобные мероприятия</h5>
            <div class="container p-0 mt-4 mx-0" id="similar_eventsBlock">
                <div class="row m-0"
                    style="justify-content: flex-start; box-sizing: content-box; justify-content:space-between">
                    {% for event in similar_events %}
                    <div class=" blockBackground  mb-3" style="width:32.5%; height: 250px">

                        <div style="height: 100%;">
                            <!-- <div class="eventsPrewie" style="background-image: url(/media/{{event.image}});"></div> -->
                            <div class="cursor-pointer" onclick="window.location='/events/about/{{event.id}}'">
                                <img class="eventImage" src="/media/{{event.image}}">
                            </div>
                            <div class="p-2 px-3 ">
                                <h5 class="mb-2 cursor-pointer linkHover"
                                    style="font-size: 18px; font-weight: 600; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis"
                                    onclick="window.location = '/events/about/{{event.id}}'">
                                    {{event.name}}
                                </h5>
                                <div class="mb-2" style="font-weight:500; font-size:15px">
                                    {% if event.date_start|date:"m" == event.date_finish|date:"m" %}
                                    <span class="mb-0 "
                                        style="">{{event.date_start|date:"d"}}–{{event.date_finish|date:"d"}}
                                        {{event.date_finish|date:"E"}}</span>
                                    {% else %}
                                    <span class="mb-0" style="">{{event.date_start|date:"d"}}
                                        {{event.date_start|date:"E"}} – {{event.date_finish|date:"d"}}
                                        {{event.date_finish|date:"E"}}</span>
                                    {% endif %}

                                </div>

                                <div class="d-flex "
                                    style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis">
                                    {% for tag in event.tags.all %}
                                    <div class="tag mr-2 px-1 mt-2" style="">{{tag}}</div>
                                    {% endfor %}
                                </div>


                            </div>

                        </div>

                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}


        {% endblock %}
