{% extends "main_page/index.htm" %}

{% block content %}

<nav class="d-inline-block">
    <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="/events/">Мероприятия</a></li>
        <li class="breadcrumb-item "><a href="/events/about/{{event.id}}/">{{event.name}}</a></li>
        <li class="breadcrumb-item active">Хотели бы принять участие</li>

    </ol>
</nav>
<div class="dropdown-divider mt-2 mb-3"></div>
<ul class="nav nav-pills mb-3" style="" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Люди
            ({{event.possible_users.all|length}})</a>
    </li>
    <li class="nav-item cursor-pointer" onclick="window.location='/events/about/{{event.id}}/wishes/teams/'">
        <a class="nav-link" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Команды
            ({{event.possible_teams.all|length}})</a>
    </li>

</ul>
<div class="mt-3">
    <div class="container p-0">

        <!-- <h5 class="mb-4" style="font-weight: 600; font-size: 19px">Найти тиммейта</h5> -->

        <div style="width:250px; margin-left: calc(100% - 250px)">

            <div class="position-fixed " style="width:250px;">
                {% include 'search_page/teammates/filter.htm' %}
            </div>
        </div>
    </div>
    <div class="contentWidth   pr-3">
        <div class="p-3 blockBackground">
            <div class="mb-4">
                <input class="form-control" type="text" id="searchTeammates" placeholder="Имя или ID пользователя"
                    oninput="filterTeammates()">
            </div>
            {% include 'search_page/teammates/all_teammates.htm' %}
        </div>
    </div>

</div>

{% endblock %}
