{% extends "main_page/index.htm" %}

{% block content %}

<nav class="d-inline-block">
    <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="/events/">Мероприятия</a></li>
        <li class="breadcrumb-item "><a href="/events/about/{{event.id}}/">{{event.name}}</a></li>
        <li class="breadcrumb-item active">Хотели бы принять участие</li>

    </ol>
</nav>
<div class="dropdown-divider mt-2 mb-3"></div>
<ul class="nav nav-pills mb-3 cursor-pointer" onclick="window.location='/events/about/{{event.id}}/wishes/users/'"
    id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link " data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="false">Люди
            ({{event.possible_users.all|length}})</a>
    </li>
    <li class="nav-item cursor-pointer" onclick="window.location='/events/about/{{event.id}}/wishes/teams/'">
        <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="pills-profile"
            aria-selected="true">Команды ({{event.possible_teams.all|length}})</a>
    </li>

</ul>
<div style="width:250px; margin-left: calc(100% - 250px)">
    <div class="position-fixed " style="width:250px;">
        {% include 'search_page/teams/filter.htm' %}
    </div>
</div>

<div class="contentWidth   pr-3">
    <div class="p-3 blockBackground">
        <div class="mb-4 d-flex">
            <input class="form-control mr-3" type="text" id="searchTeams" placeholder="Название или ID команды"
                oninput="filterTeams()">
            <div class="d-flex" data-toggle="tooltip" title="По числу участников">
                <div onclick="filterTeams('down')">
                    <span class="my-auto fa fa-sort-amount-down hoverBackground p-2" style="font-size: 20px;"></span>
                </div>
                <div onclick="filterTeams('up')">
                    <span class="my-auto fa fa-sort-amount-up hoverBackground p-2" style="font-size: 20px;"></span>
                </div>
            </div>
        </div>

        {% include 'search_page/teams/all_teams.htm' %}
    </div>
</div>
</div>

{% endblock %}
