@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800,900&display=swap');
body{
   margin: 0;
   padding: 0;
   background-color: #fafbfc;
}

.nav-link {
    padding: .3rem 1rem;
}
.nav-tabs .nav-link {
    border-color: transparent;
}
.account-nav-item:hover{
    border-radius: 2px;
    background-color: #007bff15;
}


.header-navbar{
    font-size: 14px;
    background-color: #1070d6;
}
.header-nav-item{
    border-radius: 2px;
    background-color: #5a95d4f5;
    transition: 0.05s;
}
.header-nav-item:hover{
    background-color: #659fddf5;
}

.header-nav-link{
    color: white !important;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.dropdown:hover{
    cursor: pointer;
}
.dropdown-toggle{
    width: auto;
}
.dropdown-item{
    font-size: 14px;
}
.wrapper {
    width: 100vw; 
    height: 100vh;
    overflow: auto;
}
.underTip{
    color: rgb(150, 150, 150);
    font-size: 13px;
}
.blockName{
    text-align: center;
}



.blockBackground{
    background: rgb(255,255,255);
    border-radius: 5px;
    border: 2px solid #ced4da60;
}
.addEventBlock{
    background: rgb(255,255,255);
    border: none;
    background-size: contain;
    border-radius: 12px;
    box-shadow:0px 0px 30px 0px rgba(0,0,0,0.1);
}
.filtered_events_style{
    border-radius: 5px;
}

.tag{
    color: #1070d6;
    background-color: #dfe9fb;
    border-radius: 2px;
}
.date{
    color: #d69710;
    background-color: #e4b92a65;
    border-radius: 2px;
}
.navbar{
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
}
.eventImageBlock{
    object-fit: contain;
    max-width: 22.5rem;
    max-height: 500px;
    border-radius: 5px;
    border: 2px solid #ced4da60;

}
.aboutEventName{
    text-align: center;
    font-weight: 600;
}
.logo{
    font-family: 'Montserrat';
    font-weight: 700;
    color:  #007bff;

}

.dropdown-item {
    padding: .3rem 1rem;
}
.dropdown-item:active {
    background-color: rgb(224, 224, 224);
    color: black;
}

.errorText{
    color: red;
    font-size: 14px;
   
}
li{
    list-style-type: none
}
.select2-container{
    width: 100% !important;
}
.active-sidebar{
    background-color: rgba(73, 133, 245, 0.151) !important;
    color: #1070d6 !important;
}
.sidebar-block{
    font-size: 14px;
    border-radius: 2px;
    font-weight: 600;
    width: 100%;
    color: #172b4d ;
    background-color: transparent;
    transition: 0.05s;
}

.sidebar-block:hover{
    background-color: rgb(242, 242, 242);
}

a{
    text-decoration: none !important;
    color: #212529;
}

.sidebar-link{
    font-size: 14px;
    color: #172949 !important;
    font-weight: 600;
}

.slidebar-blocks-name{
    color: #7e7e7e;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.nav-icon{
    display: inline-block;
    text-align: center;
    width: 32px;
}
.add-icon{
    cursor: pointer;
    border-radius: 2px;
     
    background-color: transparent;
}
.add-icon:hover{
    background-color: rgb(242, 242, 242);
}
.light-btn{
    cursor: pointer;
    color: #7e7e7e;
    letter-spacing: 0.2px;
    border-radius: 2px;
    font-size: 14px;
    background-color: rgb(235, 235, 235);
    color: #172949 !important;
}
.light-btn:hover{
    background-color: rgb(228, 228, 228);
}
.dark-btn{
    cursor: pointer;
    color: #ffffff !important;
    letter-spacing: 0.2px;
    border-radius: 2px;
    font-size: 14px;
    background-color: #1070d6;
}
.dark-btn:hover{
    background-color: #3285df;
}
.breadcrumb{
    background: none;
    font-size: 14px;
}
label{
    font-size: 14px;
}
.btn{
    padding: .20em .60rem;
    transition: 0s;
    border-radius: 2px;
    border: none;
    box-shadow: none !important;
}
.btn-light{
    color: unset;
    background-color: rgb(233, 234, 240);
}
.btn-light:hover{
    background-color: rgb(225, 226, 233);
}
.btn-primary{
    background-color: #1070d6;
}
.btn-primary:hover{
    background-color: #3186e0;
}
.light-text{
    color: #7e7e7e !important;
}
.cursor-pointer{
    cursor: pointer;
}
.dropdown-divider{
    border-top: 2px solid #ced4da60;
}
.eventImage{
    width: 100%;
    height: 130px;
    object-fit: cover;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid #ced4da60;
}
.profileImg{
    object-fit: cover;
    background-size: cover;
    border-radius: 5px;
    /* border-bottom: 2px solid #ced4da60; */
}
.favEventImage{
    height: 100px;
}

.eventPreview:nth-child(3n+2){
    margin: 0 1.4rem;
}
.dropdown-menu-right{
    right: auto;
}
.slick-track{
    margin: 0;
}
.filter-option-inner-inner{
    font-size: 15px;
}
.addPagesLabel{
    font-size: 16px;
    font-weight: 600;
}
.font-w-600{
    font-weight: 600;
}
.allFavBtn{
    line-height: 181.75px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.055);
    width: 65px;
    border-radius: 5px;
    
}
.allFavBtn:hover{
    background-color: rgba(0, 0, 0, 0.082);
}
.inner{
    max-height: 200px;
}
.hoverBackground{
    cursor: pointer;
    border-radius: 5px;

}

.hoverBackground:hover{
    background-color: rgba(49, 49, 49, 0.034);
}

.hoverBlockTransparent{
    cursor: pointer;
    border-radius: 5px;
}

.hoverBlockTransparent:hover{
    background-color: rgba(0, 0, 0, 0.034);
}

.hoverBlockBtn{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.048);
}
.hoverBlockBtn:hover{
    background-color: rgba(0, 0, 0, 0.075);
}
.linkHover{
    cursor: pointer;
}
.linkHover:hover{
    color: #2153a5;
}
.username{
    transition: 0.05s;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.username:hover{
    color: #1070d6;
}
.contentWidth{
    width: calc(100% - 250px);
}
.noUserImageBig{
    width: 75px;
    height:75px;
    border-radius: 5px;
    background-color: rgba(73, 133, 245, 0.151) !important;
    color: #1070d6 !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 72px;
    text-align: center;
    
}
.noUserImageMd{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(73, 133, 245, 0.151) !important;
    color: #1070d6 !important;
    font-weight: 600;
    font-size: 15px;
    line-height: 38px;
    text-align: center;
    
}
.noUserImageSm{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(73, 133, 245, 0.151) !important;
    color: #1070d6 !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    
}

.bgTextHover{
    cursor: pointer;
    color: #1070d6;
    transition: 0.05s;
}
.bgTextHover:hover{
    border-radius: 3px;
    background-color: #1070d61f;
}
.newNotifyBg{
    border-radius: 2px;
    background-color: rgba(255, 153, 0, 0.164);
}
.newNotifyBg:hover{
    background-color:  rgba(255, 153, 0, 0.247);
}
.w100{
     width: 100%;
}




.tooltip-inner {
    padding: 0.75rem;
    background: rgb(255,255,255);
    border-radius: 5px;
    border: 2px solid #1070d621;
    color: black;
    width: 200px;
}
.tooltip.show {
  opacity: 1;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: transparent;
  /* Red */
}
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: transparent;
  /* Red */
}
.transpIcon{
    color:rgba(16, 112, 214, 0.09);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color:rgba(245, 185, 73, 0.267) !important;
    color: #d68710 !important;
    font-weight: 600;
}
.scrollPartPopover{
    max-height:200px;
    overflow-y:auto
}