{% extends "main_page/index.htm" %}

{% block content %}
<nav class="d-inline-block">
    <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="/teams/">Команды</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="/teams/{{team.name_id}}/">{{team.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Участники</li>
    </ol>
</nav>

<div class="dropdown-divider mt-2 mb-4"></div>
<div class="container p-0">


    <div style="width:250px; margin-left: calc(100% - 250px)">
        <div class="position-fixed " style="width:250px;">
            {% include 'search_page/teammates/filter.htm' %}
        </div>
    </div>
</div>
<div class="contentWidth   pr-3">
    <div class="p-3 blockBackground">
        <div class="mb-4">
            <input class="form-control" type="text" id="searchTeammates" placeholder="Имя или ID пользователя"
                oninput="filterTeammates()">
        </div>
        {% include 'search_page/teammates/all_teammates.htm' %}
    </div>
</div>

</div>

{% endblock %}
